<div id="qor-activity" style="display:none;">
  <script type="text/javascript">
    $(document).ready(function() {
      QorActivity.init();
    });
  </script>

  <div class="qor-tabs-template" style="display:none;">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
      </div>
    </div>
  </div>

  <div class="qor-tabs-tab-template" style="display:none;">
    <a href="#activity-panel" class="mdl-tabs__tab">Activity</a>
  </div>

  <div class="qor-tabs-panel-template" style="display:none;">
    <div class="mdl-tabs__panel qor-activity-container" id="activity-panel">
      <div class="qor-activities-history">
        <label class="qor-field__label">{{dt (printf "%v.attributes.activity.History" .Resource.ToParam) "Activities"}}</label>
        <ul>
          {{range $activity := get_activities . "-tag"}}
            <li>
              <div>{{$activity.UpdatedBy}}{{$activity.Subject}}</div>
              <div>{{$activity.UpdatedAt}}</div>
              <div>{{$activity.Context}}</div>
              <div>Note: {{$activity.Note}}</div>
            </li>
          {{end}}
        </ul>

        <form action="{{edit_resource_path .Result .Resource}}/!activity" method="POST">
          <input type="hidden" name="type" value="activity">
          <input type="hidden" name="redirect_to" value="{{edit_resource_path .Result .Resource}}#activity">
          <div>
            <label>Subject</label>
            <br/>
            <input name="subject">
          </div>
          <div>
            <label>Content</label>
            <br/>
            <textarea name="content"></textarea>
          </div>
          <div>
            <label>Note</label>
            <br/>
            <input type="text" name="note" value="">
          </div>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
