<div id="qor-activity">
  <div class="qor-tabs-template" style="display:none;">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
      </div>
    </div>
  </div>

  <div class="qor-tabs-tab-template" style="display:none;">
    <a href="#activity-panel" class="mdl-tabs__tab">Activity</a>
  </div>

  <div class="qor-tabs-panel-template" style="display:none;">
    <div class="mdl-tabs__panel qor-activity-container" id="activity-panel">
      <div class="qor-activities-tags">
        <label class="qor-field__label">{{dt (printf "%v.attributes.activity.Tags" .Resource.ToParam) "Tags"}}</label>
        <ul>
          {{range $activity := get_activities . "tag"}}
            <li>{{$activity.Comment}}</li>
          {{end}}
        </ul>

        <form action="{{edit_resource_path .Result .Resource}}/!activity" method="POST">
          <input type="hidden" name="type" value="tag">
          <input type="string" name="comment" value="">
          <button>Submit</button>
        </form>
      </div>

      <div class="qor-activities-history">
        <label class="qor-field__label">{{dt (printf "%v.attributes.activity.History" .Resource.ToParam) "History"}}</label>
        <ul>
          {{range $activity := get_activities . "-tag"}}
            <li>{{$activity.Comment}}</li>
          {{end}}
        </ul>

        <form action="{{edit_resource_path .Result .Resource}}/!activity" method="POST">
          <input type="hidden" name="type" value="comment">
          <input type="string" name="comment" value="">
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
